/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
